//.modal-lg
//  max-width 80rem

#modalHelp
  .container-fluid
    overflow auto

    img
      box-shadow 0 1px 3px 0 #d4d4d4
      display block
      margin .5rem 0

      &.inline
        display inline-block

    p
      margin-bottom .5rem

    ul
      list-style-type none
      padding-left 1rem

  .t-key
    font-family monospace
    font-size 10pt

  .results
    padding 0 1rem

    .row
      border-top 1px solid #eeeeee

    .t-head
      background-color #eeeeee
