<script src="{{ url_for('static', filename='js/polyfill.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue-loading-overlay.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>