<b-modal id="modalHelp" title="Помощь" header-border-variant="warning" lazy ok-only size="lg">
  <b-container fluid>
    <p>нажать на поле выбора файла реестра, выбрать файл (не должен быть больше 2Мб)</p>
    <img src="{{ url_for('static', filename='images/help/ch_file.png') }}"/>
    <hr/>

    <p>ниже появятся данные о файле, таблица с загруженными платежами и кнопки действий</p>
    <img width="100%" src="{{ url_for('static', filename='images/help/main.png') }}" />
    <hr/>

    <img src="{{ url_for('static', filename='images/help/total_row.png') }}" class="inline" />
    - это последняя строка файла - метаданные реестра (количество записей, сумма, дата и т.д.),
    формат этой строки не имеет чёткой структуры, она нужна только для визуальной сверки
    (все ли записи загрузились, совпадает ли итоговая сумма и т.п.)
    <hr/>

    <p>выбрать платежи, которые нужно обработать</p>
    <img src="{{ url_for('static', filename='images/help/chb_toggle.png') }}" class="inline" />
    - кнопки массового выбора платежей (все, ничего, инвертировать)
    и информация о количестве и сумме выбранных платежей
    <hr/>

    <p>ниже - таблица платежей:</p>
    <ul>
      <li><b>дата/время</b> - когда платёж был принят банком</li>
      <li><b>код операции</b> - уникальный номер платежа, он будет номером платёжного
        документа в биллинге и номером заказа - в чеке</li>
      <li><b>л/счёт</b> - номер лицевого счёта абонента</li>
      <li><b>ФИО</b> - имя/название абонента</li>
      <li><b>адрес</b> - адрес абонента</li>
      <li><b>сумма</b> - сумма платежа</li>
      <li><b>биллинг</b> - результат операции занесения платежа в биллинг</li>
      <li><b>чек</b> - результат операции формирования чека</li>
    </ul>
    <hr/>

    <p>выбираем услугу и офис</p>
    <img src="{{ url_for('static', filename='images/help/sel_service_office.png') }}" />
    эти поля заполняются автоматически по кодам в имени файла реестра, но
    нужно перепроверять, т.к. в кодах или структуре имени файла может что-то измениться
    <hr/>

    <p>нажимаем кнопку соответствующей операции</p>
    <img src="{{ url_for('static', filename='images/help/btn_make_payments.png') }}" class="inline" />
    или
    <img src="{{ url_for('static', filename='images/help/btn_make_fiscals.png') }}" class="inline" /><br/>
    работа с биллингом КТВ не автоматизирована, платежи за КТВ нужно заносить
    в биллинг вручную, поэтому первая кнопка будет не активна
    <hr/>

    <p>перед запуском операции появится окно подтверждения с информацией о выбранных платежах</p>
    <hr/>

    необязательное поле
    <img src="{{ url_for('static', filename='images/help/comment.png') }}" />
    добавит одинаковый комментарий ко всем внесённым платежам в биллинге
    <hr/>

    <img src="{{ url_for('static', filename='images/help/place.png') }}" />
    будет указано на кассовом чеке
    <hr/>

    платежи обрабатываются последовательно, один за другим (из-за особенностей архитектуры биллинга и сервера кассы),
    ход выполнения - на индикаторе:
    <img src="{{ url_for('static', filename='images/help/progress.png') }}" />
    по нажатию на кнопку "отмена", обработка платежей прекратится после завершения обработки текущего
    <hr/>

    результат обработки платежа отображается в соответствующем поле таблицы:
    <div class="results">
      <b-row align-v="center">
        <b-col cols="12" class="t-head">в поле "биллинг"</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key success">ok</b-col>
        <b-col>платёж внесён в биллинг</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key info">уже есть</b-col>
        <b-col>платёж с этим номером уже был внесён ранее</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">л/с не найден</b-col>
        <b-col>в биллинге не найден абонент с таким номером лицевого счёта (неправильно выбран офис?)</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">ошибка биллинга</b-col>
        <b-col>команда внесения платежа в биллинг на сервере вернула ошибку</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">не внесён</b-col>
        <b-col>ошибок во время внесения платежа не было, но платёж с таким номером не появился в биллинге</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">ошибка API</b-col>
        <b-col>ошибка сервиса импорта реестров</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">ошибка</b-col>
        <b-col>какая-то другая ошибка (нет связи с сервером, базой данных и т.п.)</b-col>
      </b-row>
    </div>

    <div class="results">
      <b-row align-v="center">
        <b-col cols="12" class="t-head">в поле "чек"</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key success">[номер]</b-col>
        <b-col>номер сформированного фискального документа (чека)</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">ошибка кассы</b-col>
        <b-col>сервер кассы вернул ошибку на запрос формирования чека</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">ошибка API</b-col>
        <b-col>ошибка сервиса импорта реестров</b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" sm="3" class="t-key error">ошибка</b-col>
        <b-col>какая-то другая ошибка (нет связи с сервером, базой данных и т.п.)</b-col>
      </b-row>
    </div>

    <hr/>
    при возникновении ошибок, после устранения их причины (если нужно - с привлечением системного администратора),
    не обработанные платежи можно импортировать снова, они идентифицируются по коду операции,
    поэтому при повторном импорте не дублируются

  </b-container>
</b-modal>
